<div class="container">

<h1 class="contact-header">—Contact Us—</h1>
<div class="contact-logo">
<img src="assets/Agoge.png">
</div>

<div class= "col-md-4 col-md-offset-1 contact-info">
	<h3>E-Mail:</h3>
		<p>Support@Agoge.com</p>
	<h3>Phone:</h3>
		<p>(123) 456-7890</p>
	<h3>Address:</h3>
		<p>370 S. 300 E.
		<br>Salt Lake City
		<br>UT 84111</p>
</div>

<div class "col-lg-6 col-lg-offset-4">
	<iframe>
</div>


</div>

